@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #00a1d8;
}
body {
    background-image: url("blahblah");
  font-family: "Bungee Spice", sans-serif;

}

img {
width: 150px;
height: 150px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
    color: #fff;
    display: flex;
    height: 7vw;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 0 1%;
    z-index: 5;
    margin: auto;
}

nav img {
    height: 80%;
    width: auto;
    margin-right: 1%;
    border-radius: 1vw;
    cursor: pointer;
    user-select: none;
    box-shadow: 5px 5px 10px rgba(53, 53, 53, 0.459);
}

nav h1 {
    font-size: 4vw;
    font-weight: 800;
    margin-right: 1%;
}
